<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>

  <section layout:fragment="body" class="page">
                
                 <div class="register-form">
                    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                        <div class="columns" data-aos="fade-left">
                            <label>Username</label>
                            <input
                                    type="text"
                                    class = "form"
                                    placeholder="Username"
                                    th:field="*{username}">
                        </div>
                       
                         <div class="columns" data-aos="fade-left">
                            <label>Password</label>
                            <input
                                    type="password"
                                    class = "form"
                                    placeholder="Password"
                                    th:field="*{password}">
                        </div>
                        
                        <div class="columns" data-aos="fade-left">
                            <label>Name</label>
                            <input
                                    type="password"
                                    class = "form"
                                    placeholder="Password"
                                    th:field="*{personalInfo.name}">
                        </div>
                        
                        <div class="columns" data-aos="fade-left">
                            <label>Surname</label>
                            <input
                                    type="password"
                                    class = "form"
                                    placeholder="Password"
                                    th:field="*{personalInfo.surname}">
                        </div>
                        
                      <button th:href="@{/login}" class = "login" type="submit" >Login here.</button>
                      <button type="submit" class="btn btn-secondary">Register</button>
                    </form>
            </div>
   </section>
  </body>
</html>