 <!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

  <body>
    <section layout:fragment="body" id="profile" class="profile-section">
     <div th:object="${patient}"> 
     
        <div class="container">
            <div class="profile-info">
                <h2>Профиль</h2>
                <h4 th:text = "${patient.username}"> </h4>
                <p>Дата рождения: 01.01.1980</p>
                <p>Телефон: +7 (123) 456-7890</p>
                <p>Email: example@example.com</p>
            </div>
        </div>
 
        <div class="container">
            <h2>Записи на прием</h2>
            <ul class="appointment-list">
                <!-- Список записей на прием -->
            </ul>
        </div>
 


        <div class="container">
            <h2>История посещений</h2>
            <ul class="visit-history">
                <!-- История посещений -->
            </ul>
        </div>
    

    
        <div class="container">
            <h2>Оплата</h2>
            <div class="payment-info">
                <p>Непогашенный баланс: $100.00</p>
                <p>Последняя оплата: 05.04.2024</p>
                <button>Оплатить</button>
            </div>
        </div>

        <div class="container">
            <h2>Настройки</h2>
            <form action="#" method="post" class="settings-form">
                <label for="change-password">Изменить пароль:</label>
                <input type="password" id="change-password" name="change-password">
                <button type="submit">Сохранить</button>
            </form>
        </div>
      </div>
    </section>
</body>
</html>